CMakeLists.txt.user
CMakeCache.txt
CMakeFiles
CMakeScripts
Testing
Makefile
cmake_install.cmake
install_manifest.txt
compile_commands.json
CTestTestfile.cmake
_deps
libs/*
BasedGUI.xcodeproj/
BasedGUI.build/
Debug/
build/

# Exceptions
!libs/CMakeLists.txt
